body {
  background: #000000;
}

#section {
  width: 100%;
  height: 100vh;
  background: url("../../assets/img/office-space-1744801_1280.jpg") center / cover no-repeat;
}

@media (min-width: 768px) {
  #section {
    background-image: url(../../assets/img/office-space-1744801_1920.jpg);
  }
}

.navbar-light .navbar-brand {
  padding-top: 30px;
  padding-left: 10px;
  width: 153px;
  height: 165px;
}

#navcol-1 {
  font-size: 21px;
  font-family: Asul, sans-serif;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(5,88,14);
}

#overlay {
  width: 100%;
  height: 100vh;
  background: #ffffff33;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,0);
  background: #ffffff;
}

#content {
  height: 70%;
}

#COworking {
  color: rgb(18,82,52);
  font-size: 50px;
}

#COworking-1 {
  font-family: Alatsi, sans-serif;
  font-size: 45px;
}

.input-field {
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.input-icons i {
  padding: 15px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  border-radius: 25px;
}

.input-icons {
  display: flex;
}

.navbar.navbar-light.navbar-expand-md {
  padding-top: 0px;
}

.btn.btn-link.btn-block.text-white.arrow-button {
  font-size: 45px;
  font-weight: bold;
}

#video {
  text-align: center;
  height: 100vh;
  width: 100%;
  background: #c0e7d7;
}

#videoPlayer {
  width: 90%;
  height: 220px;
}

@media (min-width: 768px) {
  #videoPlayer {
    width: 90%;
    height: 500px;
  }
}

#join-now-button {
  margin-top: 40px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

#map-results {
  background: #fb0303;
  min-width: 200px;
  max-height: 150px !important;
}

@media (min-width: 576px) {
  #map-results {
    background: #fb0303;
    min-width: 200px;
    max-height: 250px !important;
  }
}

#map {
  min-width: 250px;
  height: 150px;
  background-image: url(../../assets/img/IMG_28991.jpg);
}

@media (min-width: 576px) {
  #map {
    min-width: 300px;
    height: 270px;
    background-image: url(../../assets/img/IMG_28991.jpg);
  }
}

#headerContainer {
  width: 100%;
}
